{% extends 'layout.html' %} {% block content %}
<div class="" style="text-align: center;background-color: #ffffff;">
  <h1 style="margin-bottom: 50px;">What is this app?</h1>
  <h3 style="margin-bottom: 50px;">Tinder... but for food!</h3>
  <div style="min-height: 300px; width: 400px; text-align: justify; margin-left: auto; margin-right: auto;">
    <p>
      You login with your email and play, selecting wich recipes you like or
      dislike
    </p>
    <p>
      At each step, we select a set of 50 recipes that best match your
      preferences! You can see this recipes <a href="/recipes">here</a>.
    </p>
    <p>
      This project was made for <a href="https://cuukin.herokuapp.com/">Cuukin</a>,
      cooking school at your fingertips. A platform where you can learn to cook
      the food you love!
    </p>
    <p>
      You can find more information about this app on my
      <a href="https://github.com/guilherme-vieira/recipe_tinder">Github</a>!
    </p>
  </div>

  <footer class="mt-auto text-black-50">
    <p>Let's get Cuukin!</p>
    <p>Guilherme Vieira</p>
  </footer>
</div>

{% endblock content %}
