{% extends 'layout.html' %} {% block content %}
<h2 style="margin-bottom: 30px; margin-top: 30px">50 Best Recipes for you!</h2>
<table class="table">
  <thead>
    <th scope="col">Recipe ID</th>
    <th scope="col">Title</th>
  </thead>
  <tbody>
    {% for index in index_list[:50] %}
    <tr>
      <td>{{recipes[index-1]._id}}</td>
      <td>
        <a
          style="color: black; text-decoration: none"
          href="{{recipes[index].recipe_link}}"
          >{{recipes[index-1].title}}</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
